h1 Lista de Produtos 
    table 
        thead 
            tr 
                th(scope='col') Prodtudo 
                th(scope='col') Descricao 
        tbody 
            tr
                td #{produto.nome}
                td #{produto.descricao}